

.well {
  font-family: cursive;
  text-align: center;
  background-image: url(well.jpg);
  word-wrap: break-word;
  width: auto;
  margin: 2px;
  text-decoration: underline;
  color: #ac5182;
}

.well img {
  width: 150px;
  height: auto;
  padding: 1px;
}

.well1 {
  background: #eca9a7
}

@media screen and (max-width: 400px) {
  body {
    color: blue;
  }
}

body {
  background-image: url(background.jpg);

}
