.well {
  font-family: cursive;
  font: Lucida Calligraphy;
  text-align: center;
  background-image: url(well.jpg);
  word-wrap: break-word;
  width: auto;
  margin: 2px;
  text-decoration: underline;
  color: #238d78;
  border-color: #238d78;
}

.well img {
  width: 150px;
  height: auto;
  padding: 1px;
}

.panel-heading {
  background-image: url(well.jpg);
  font-family: serif;
}

.panel-body {
  font-family: serif;
}

.well1 {
  background: #eca9a7;
  font-size: 8pt;
}

@media screen and (max-width: 400px) {
  body {
    color: blue;
  }
}

body {
  background-image: url(background.jpg);
}
