.well {
  font-family: serif;
  font: georgia;
  text-align: center;
  background-image: url(well.jpg);
  word-wrap: break-word;
  width: 50%;
  margin: 2px;
  color: #238d78;
  border-color: #238d78;
  float: left;
}

.well img {
  width: 150px;
  height: auto;
  padding: 1px;
}

.panel {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: sans-serif;
  float: right;
}

.panel-heading {
  background-image: url(well.jpg);
}

.panel-body {
  color: #238d78;
}

.well2 {
  background: #eca9a7;
  font-size: 9pt;
  margin-bottom: 10px;
  padding: 15px;
  padding-top: .5px;
  float: right;
}

.highlight {
  color: yellow;
}

@media screen and (max-width: 400px) {
  body {
    color: blue;
  }
}

body {
  background-image: url(background.jpg);
}
